<%- include("header") -%>
<h2>About Us</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique asperiores hic, tempora amet consectetur fugiat
    beatae delectus iure reiciendis id natus cum officia expedita cupiditate qui officiis, repellendus dolores
    doloremque?</p>

    <%- include("footer") -%>